{% extends 'base.html' %}
    {% block body %}
        <main class="index-main">
            <div>
                <h2>Filter Movies</h2>
                <select name="" id="">
                        <option value="title">Title</option>
                        <option value="year">Year released</option>
                        <option value="mercedes">Post author</option>
                </select>
                <h2>Search Reviews</h2>
                <input type="text" placeholder="Movie title..">
            </div>
        </main>
    {% endblock %}