{% extends 'base.html' %}
    {% block body %}
        <h1>Register</h1>
        <form class="register__form">
            <input type="text" placeholder="First name..." name="fname" class="register__form-input" required>
            <input type="text" placeholder="Last name..." name="lname" class="register__form-input" required>
            <input type="text" placeholder="User name" name="uname" class="register__form-input" required>
            <input type="email" placeholder="Your email..." name="email" class="register__form-input" required>
            <input type="password" placeholder="password" name="password" class="register__form-input" required>
            <input type="submit" class="register__form-button" value="Register">
        </form>
    {% endblock %}